<h1>Transactions</h1>
  <div class="top_section">
   <h3><u>Total Spend</u></h3>
   <p><b>£<%= Transaction.total_spend %></b></p>
  </div>

<form method="get">
  Search All Transactions Between Amounts:
  <input name="search1" value= 0 type="number" /> to 
  <input name="search2" value= 0 type="number" />
  <input type="submit" value="Search" />
</form>
<form method="get">
  Search All Transactions By Date Range:
  <input name="search3" value="<%=(Date.today-1).to_s%>" type="date" /> to 
  <input name="search4" value="<%=Date.today.to_s%>" type="date" />
  <input type="submit" value="Search" />
</form>

<hr>

<% @transactions.each do |transaction| %>
  <div class="t_index">
    <b>Date</b>
    <p><%= transaction.date %></p>
    <b>Merchant</b>
    <p><%= transaction.merchant.name %></p>
    <b>Amount</b>
    <p>£<%= sprintf('%.2f', transaction.amount) %></p>
    <b>Tag</b>
    <a href='/tags/<%= transaction.tag.id %>' class="transaction_tag" style='background-color:<%= transaction.tag.colour %>;' ><%= transaction.tag.name %></a>
    <a href="/transactions/<%= transaction.id %>">View</a>
    <a href="/transactions/<%= transaction.id %>/edit">Edit transaction</a><br>
  </div>
<% end %>
<hr>
<a href="/transactions/new" class="button" >Add new transaction</a><br>



