<div>
<h1>Transactions</h1>

<h3>Total Spend</h3>
<p><%= Transaction.total_spend %>
<hr>

<% @transactions.each do |transaction| %>
<b>Date</b>
<p><%= transaction.date %></p>
<b>Merchant</b>
<p><%= transaction.merchant.name %></p>
<b>Amount</b>
<p>£<%= sprintf('%.2f', transaction.amount) %></p>
<b>Tag</b>
<p><%= transaction.tag.name %></p>
<hr>
<% end %>
<hr>
<a href="/transactions/new">Add new transaction</a><br>

</div>


