<div>
<h1>Transactions</h1>

<% @transactions.each do |transaction| %>
<b>Date</b>
<p><%= transaction.date %></p>
<b>Merchant</b>
<p><%= transaction.merchant %></p>
<b>Description</b>
<p><%= transaction.description %></p>
<b>Amount</b>
<p>£<%= transaction.amount %></p>
<b>Tag</b>
<p><=% transaction.tag.name %></p>
<hr>
<b>Total Spend</b>
<p><%= Transaction.total_spend %>
<a href="/transactions/new">Add new transaction</a><br>
<% end %>
</div>


