<h1>Edit Tag</h1>

<form action="/tags/<%= @tag.id %>" method="post">
  <input type="hidden" name="_method" value="put">
  <label for="name">Name:</label>
  <input type="text" name="name" value="<%= @tag.name %>">
  <label for="colour">Colour:</label>
  <input type="color" name="colour" value="<%= @tag.colour %>">
  <label for="budget">Budget(£):</label>
  <input type="number" step="0.01" min="0" name="budget" value="<%= @tag.budget %>"> <br>
  <input type='submit' value="Update Tag">
</form>
<form action="/tags/<%= @tag.id %>" method="post">
  <input type='submit' value="Delete Tag">
  <input type="hidden" name="_method" value="delete">
</form>