<div>
<h1>Tags</h1>

<% @tags.each do |tag| %>
<h3>Total Spend</h3>
<p>£<%= sprintf('%.2f', tag.total_spend) %></p>

<b>Name</b>
<p><%= tag.name %></p>

<b>Colour</b>
<style>
p#tag-colour-<%=tag.colour%> {
  background-color: <%=tag.colour%>;
}
</style>
<p id='tag-colour-<%=tag.colour%>' ><%= tag.colour %></p>
<a href="/tags/<%= tag.id %>/edit">Edit tag</a><br>
<hr>
<% end %>

<hr>
<a href="/tags/new">Add new tag</a><br>
</div>
