<div>
<h3><%= @merchant.name %></h3><br>
<% @merchant.transactions.each do |transaction| %>
<b>Date</b>
<p><%= transaction.date %></p>
<b>Amount</b>
<p>£<%= sprintf('%.2f', transaction.amount) %></p>
<b>Tag</b>
<p style='background-color:<%= transaction.tag.colour %>;' ><%= transaction.tag.name %></p>
<hr>
<% end %>
</div>